/bin/
/.classpath
/.project
/target/
/.settings/
.DS_Store
.ipynb_checkpoints
/src/test/resources/*/*.nt
!/src/test/resources/*/*reference.nt
!/src/test/resources/rdf-nt-files/*.nt
!/src/test/resources/*/test-?.nt
!/src/test/resources/*/test-??.nt
*.dot
!/src/test/resources/*/*reference.dot
*.png
*.csv
src/test/resources/test16-step-by-step/summariesDOT
src/test/resources/test16-step-by-step/summariesPNG
src/test/resources/test16-step-by-step/summariesNT/test-16_w.nt
demo/summariesDOT
demo/summariesPNG
demo/summariesNT
demo/summariesNT/*