/bin/
/.classpath
/.project
/target/
/.settings/
*.csv
*.png
*.dot
.DS_Store
conf/bsbm100m_1fb.properties
conf/bsbm100m_2ps.properties
conf/bsbm100m_2pw.properties
conf/bsbm100m_2pwuf.properties
conf/bsbm100m.properties
conf/bsbm100m_s.properties
conf/bsbm100m_w.properties
conf/bsbm10m_1fb.properties
conf/bsbm10m_2ps.properties
conf/bsbm10m_2pw.properties
conf/bsbm10m_2pwuf.properties
conf/bsbm10m.properties
conf/bsbm10m_s.properties
conf/bsbm10m_w.properties
conf/bsbm1m_1fb.properties
conf/bsbm1m_2ps.properties
conf/bsbm1m_2pw.properties
conf/bsbm1m_2pwuf.properties
conf/bsbm1m.properties
conf/bsbm1m_s.properties
conf/bsbm1m_w.properties
conf/bsbm138m.properties
conf/bsbm138m_1fb.properties
conf/bsbm138m_2ps.properties
conf/bsbm138m_2pw.properties
conf/bsbm138m_2pwuf.properties
conf/bsbm138m_s.properties
conf/bsbm138m_w.properties
conf/bsbm200m.properties
conf/conference_1fb.properties
conf/conference_2ps.properties
conf/conference_2pw.properties
conf/conference_2pwuf.properties
conf/conference.properties
conf/conference_s.properties
conf/conference_w.properties
conf/dblp_large_uniq.properties
conf/dbpedia_persondata_en_uniq.properties
conf/insee_geo_1fb.properties
conf/insee_geo_2ps.properties
conf/insee_geo_2pw.properties
conf/insee_geo_2pwuf.properties
conf/insee_geo.properties
conf/insee_geo_s.properties
conf/insee_geo_w.properties
conf/lubm100m.properties
conf/lubm10m.properties
conf/lubm1m.properties
conf/nobel_1fb.properties
conf/nobel_2ps.properties
conf/nobel_2pw.properties
conf/nobel_2pwuf.properties
conf/nobel.properties
conf/nobel_s.properties
conf/nobel_w.properties
conf/abuse.properties
conf/clean_energy_data_uniq.properties
conf/ctgovdata.properties
conf/enelshops.properties
conf/foodista.properties
conf/nobelprizes_uniq.properties
conf/nasa.properties
conf/watdiv10m.properties
conf/watdiv100m.properties
src/test/resources/test*/*_noSaturation.nt
src/test/resources/test*/*_classical.nt
src/test/resources/test*/*_shortcut.nt
src/test/resources/test*/*_w_.nt
src/test/resources/test*/*_tw_.nt
src/test/resources/test*/*_s_.nt
src/test/resources/test*/*_ts_.nt
.ipynb_checkpoints
